<!doctype html>
<html class="no-js" lang="">
<div th:replace="common/topnew">

</div>
<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-bg-two">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/catalog/view">Home</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/cart/viewCart}">Cart</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- checkout-area -->
    <div class="checkout-area pt-90 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="checkout-progress-wrap">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 16.6%;" aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!--                                步骤条-->
                        <div class="checkout-progress-step">
                            <ul>
                                <li class="active">
                                    <div class="icon">1</div>
                                    <span>Shipping</span>
                                </li>
                                <li>
                                    <div class="icon">2</div>
                                    <span>Confirm</span>
                                </li>
                                <li>
                                    <div class="icon">3</div>
                                    <span>Pay</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="checkout-form-wrap">
                        <form action="/order/newordercheck" method="post">
                            <div class="checkout-form-top">
                                <h5 class="title">Payment Details</h5>
                            </div>
                            <div style="font-size: 15px;margin-bottom: 10px">Card Type:</div>
                            <input type="text" name="order.cardType" value="Visa">
                            <div style="font-size: 15px;margin-bottom: 10px">Card Number:</div>
                            <input type="text" name="order.creditCard" value="999 9999 9999 9999">
                            <div style="font-size: 15px;margin-bottom: 10px">Expiry Date:</div>
                            <input type="text" name="order.expiryDate" value="12/03">
                            <div class="checkout-form-top">
                                <h5 class="title">Billing Address</h5>
                            </div>
                            <div style="font-size: 15px;margin-bottom: 10px">First name:</div>
                            <input type="text" name="order.billToFirstName" th:value="${session.account.firstName}">
                            <div style="font-size: 15px;margin-bottom: 10px">Last name:</div>
                            <input type="text" name="order.billToLastName" th:value="${session.account.lastName}">
                            <div style="font-size: 15px;margin-bottom: 10px">Address 1:</div>
                            <input type="text" name="order.billAddress1" th:value="${session.account.address1}">
                            <div style="font-size: 15px;margin-bottom: 10px">Address 2:</div>
                            <input type="text" name="order.billAddress2" th:value="${session.account.address2}">
                            <div style="font-size: 15px;margin-bottom: 10px">City:</div>
                            <input type="text" name="order.billCity" th:value="${session.account.city}">
                            <div style="font-size: 15px;margin-bottom: 10px">State:</div>
                            <input type="text"  name="order.billState" th:value="${session.account.state}">
                            <div style="font-size: 15px;margin-bottom: 10px">Zip:</div>
                            <input type="text" name="order.billZip" th:value="${session.account.zip}">
                            <div style="font-size: 15px;margin-bottom: 10px">Country:</div>
                            <input type="text" name="order.billCountry" th:value="${session.account.country}">
                            <div class="different-address-wrap">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="shippingAddressRequired" class="custom-control-input" id="shippingornot" value="1">
                                    <label class="custom-control-label" for="shippingornot">Ship to a Different Address?</label>
                                </div>
                            </div>
                            <input type="submit" name="newOrder"  value="Next"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout-area-end -->

</main>
<!-- main-area-end -->
<div th:replace="common/bottomnew">

</div>


</body>
</html>
