<!doctype html>
<html class="no-js" lang="">
<div th:replace="common/topnew">

</div>
<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-bg-two">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/catalog/view">Home</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/cart/viewCart}">Cart</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- checkout-area -->
    <div class="checkout-area pt-90 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="checkout-progress-wrap">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!--                                步骤条-->
                        <div class="checkout-progress-step">
                            <ul>
                                <li class="active">
                                    <div class="icon">1</div>
                                    <span>Shipping</span>
                                </li>
                                <li>
                                    <div class="icon">2</div>
                                    <span>Confirm</span>
                                </li>
                                <li>
                                    <div class="icon">3</div>
                                    <span>Order Successful</span>
                                </li>
                                <li>
                                    <div class="icon">4</div>
                                    <span>Pay</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="checkout-form-wrap">
                        <form action="/order/newordercheck" method="post">
                            <div class="checkout-form-top">
                                <h5 class="title">Billing Address</h5>
                            </div>
                            <div style="font-size: 15px;margin-bottom: 10px">First name:</div>
                            <input type="text" name="order.shipToFirstName" th:value="${session.order.shipToFirstName}">
                            <div style="font-size: 15px;margin-bottom: 10px">Last name:</div>
                            <input type="text" name="order.shipToLastName" th:value="${session.order.shipToLastName}">
                            <div style="font-size: 15px;margin-bottom: 10px">Address 1:</div>
                            <input type="text" name="order.shipAddress1" th:value="${session.order.shipAddress1}">
                            <div style="font-size: 15px;margin-bottom: 10px">Address 2:</div>
                            <input type="text" name="order.shipAddress2" th:value="${session.order.shipAddress2}">
                            <div style="font-size: 15px;margin-bottom: 10px">City:</div>
                            <input type="text" name="order.shipCity" th:value="${session.order.shipCity}">
                            <div style="font-size: 15px;margin-bottom: 10px">State:</div>
                            <input type="text"  name="order.shipState" th:value="${session.order.shipState}">
                            <div style="font-size: 15px;margin-bottom: 10px">Zip:</div>
                            <input type="text" name="order.shipZip" th:value="${session.order.shipZip}">
                            <div style="font-size: 15px;margin-bottom: 10px">Country:</div>
                            <input type="text" name="order.shipCountry" th:value="${session.order.shipCountry}">
                            <input type="submit" name="newOrder"  value="Next"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout-area-end -->

</main>
<!-- main-area-end -->
<div th:replace="common/bottomnew">

</div>


</body>
</html>
