<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>-->
    <!--    <link rel="StyleSheet" href="../../css/userInfo.css" type="text/css" />-->
    <style>
        #editAccount
        {
            border-radius: 5px;
            background-color: whitesmoke;
            margin-left: 200px;
        }
        #editAccount:hover {
            border-radius: 5px;
            color: #000;
            background-color: ghostwhite;
        }
        #Content
        {
            background-color: grey;
            border-radius: 10px;
            box-shadow: 0 14px 28px #b9bbbe,
            0 10px 10px #B9C1CA;
            position: relative;
            overflow: hidden;
            width: 768px;
            max-width: 100%;
            /*min-height: 480px;*/
            margin-left: 100px;
        }
        .images_div
        {
            position: absolute;
            border-radius: 10px;
            opacity: 0.8;
            animation: bounceInRight 2s 0s linear forwards;
            -webkit-animation: bounceInRight 2s 0s linear forwards;
            width: 100%;
            height:100%;
        }
        @keyframes bounceInRight {
            from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
            0% {opacity: 0;transform: translate3d(3000px, 0, 0);}
            60% {opacity: 1;transform: translate3d(-25px, 0, 0);}
            75% {transform: translate3d(10px, 0, 0);}
            90% {transform: translate3d(-5px, 0, 0);}
            100% {opacity: 1;transform: none;}
        }
        .table_userInfo
        {
            margin-left: 140px;
        }
        .table_acInfo
        {
            margin-left: 100px;
        }
        .editAccount_a
        {
            margin-left: 200px;
            border-radius: 2px;
            color: floralwhite;
        }
        .editAccount_a:hover
        {
            margin-left: 200px;
            border-radius: 2px;
            color: #00BDDC;
            font-size:10px;
        }
        button
        {
            overflow: hidden;
            position:relative;
            right:0;
            padding: 3px 4px;
            color: #fff;
            border-radius: 5px;
            background-color: #03e9f4;
            box-shadow: 0 0 8px #03e9f4, 0 0 8px #03e9f4, 0 0 8px #03e9f4, 0 0 8px #03e9f4;
            font-size: 25px;
            text-align: center;
            /* 取消a表现原有的下划线 */
            text-decoration: none;
            /* 同样加个过渡 */
            transition: all 0.5s;
        }
        table{
            width: 60%;
        }
    </style>
</head>
<body>
<div th:replace="common/topnew">

</div>
<div>
    <img class="images_div" src="../img/slider/cat_slider.jfif" />
</div>


<div id="Content" >

    <div id="Catalog" class="col-lg-6" >


        <form action="/account/updatemyaccount" method="post">

            <h3>User Information</h3>
            <!--        <div class="userInfo-div" style="padding-left: 200px; margin-left: 10% ;padding-right:20px">-->
            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon"><img src="../../images/id_card.png" height="30px"/>User ID:</span>-->
            <!--                <input name="username" type="text" th:value="${account.username}"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon"><img src="../../images/lock.png" />New-pw</span>-->
            <!--                <input type="text" id="stripes&#45;&#45;517137302" name="password"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon"><img src="../../images/lock10.png" />Res-pw</span>-->
            <!--                <input name="repeatedPassword" id="repeatedPassword" type="text"/>-->
            <!--            </div>-->
            <!--        </div>-->

            <br/>
            <table class="table  table-striped table-hover table-bordered table_userInfo">
                <tbody>
                <tr>

                    <td><img src="../../images/id_card.png" height="30px"/>User ID:</td>
                    <td th:text="${account.username}"></td>
                </tr>
                <tr>

                    <td><img src="../../images/lock.png" />New password:</td>
                    <td>
                        <input class="input_cl" id="stripes--517137302" name="password" type="password" th:value="${account.password}">
                    </td>
                </tr>
                <tr>

                    <td><img src="../../images/lock10.png" />Repeat password:</td>
                    <td><input class="input_cl" name="repeatedPassword" id="repeatedPassword" type="password" th:value="${account.password}"></td>
                </tr>
                </tbody>
            </table>
            <h3>Account Information</h3>
            <!--            <div class="userInfo-div" style="padding-left: 200px; margin-left: 10% ;padding-right:20px">-->
            <!--            <div ></div>-->
            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon">firstname</span>-->
            <!--                    <input type="text" name="firstName" th:value="${account.firstName}"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon" >lastName</span>-->
            <!--                <input type="text" name="lastName" th:value="${account.lastName}"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon">Email&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>-->
            <!--                <input name="email" type="text" th:value="${account.email}"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon">Phone &nbsp&nbsp&nbsp&nbsp&nbsp</span>-->
            <!--                <input name="phone" type="text" th:value="${account.phone}"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon">address1</span>-->
            <!--                <input name="address1" th:value="${account.address1}" type="text"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon">address2</span>-->
            <!--                <input name="address2" type="text" th:value="${account.address2}"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon">City&nbsp&nbsp&nbsp&nbsp</span>-->
            <!--                <input name="city" th:value="${account.city}" type="text"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon">City:</span>-->
            <!--                <input name="city" th:value="${account.city}" type="text"/>-->
            <!--            </div>-->
            <!--            <br/>-->
            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon">state:&nbsp&nbsp&nbsp&nbsp&nbsp</span>-->
            <!--                <input name="state" th:value="${account.state}" type="text"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon">Zip:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>-->
            <!--                <input name="zip" th:value="${account.zip}" type="text"/>-->
            <!--            </div>-->

            <!--            <div class="input-group">-->
            <!--                <span class="input-group-addon">Country:</span>-->
            <!--                <input name="country" th:value="${account.country}" type="text"/>-->
            <!--            </div>-->

            <!--            </div>-->
            <table class="table-hover table-striped table table-bordered table_acInfo">
                <tbody>
                <tr>
                    <td>First name:</td>
                    <td><input class="input_cl" name="firstName" th:value="${account.firstName}" type="text" size="40"></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><input class="input_cl" name="lastName" th:value="${account.lastName}" type="text" size="40"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input class="input_cl" name="email" th:value="${account.email}" type="text" size="40"></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input class="input_cl" name="phone" th:value="${account.phone}"
                               type="text" size="40"></td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td><input class="input_cl" name="address1" th:value="${account.address1}" type="text" size="40"></td>

                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td><input class="input_cl" name="address2" th:value="${account.address2}"
                               type="text" size="40"></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input class="input_cl" name="city" th:value="${account.city}" type="text" size="40"></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><input class="input_cl" name="state" th:value="${account.state}" type="text"
                               size="40"></td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td><input class="input_cl" name="zip" th:value="${account.zip}" type="text"
                               size="40"></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><input class="input_cl" name="country" th:value="${account.country}" type="text"
                               size="40"></td>
                </tr>
                </tbody>
            </table>

            <!--            <h3>Profile Information</h3>-->
            <!--            <span >Language Preference</span>-->
            <!--            <div class="input-group input-group-lg">-->
            <!--                <input type="text" th:value="${account.languagePreference}" class="form-control"/>-->
            <!--                <div class="input-group-btn">-->
            <!--&lt;!&ndash;                    <button type="button" class="btn btn-default" tabindex="-1">english&ndash;&gt;-->
            <!--&lt;!&ndash;                    </button>&ndash;&gt;-->
            <!--                    <button type="button" class="btn btn-group-sm dropdown-toggle" data-toggle="dropdown" tabindex="-1">-->
            <!--                        <span class="caret"></span>-->
            <!--                        <span class="sr-only">change english</span>-->
            <!--                    </button>-->
            <!--                    <ul class="dropdown-menu">-->
            <!--                        <li>-->
            <!--                            <a href="#" >english</a>-->
            <!--                        </li>-->
            <!--                        <li>-->
            <!--                            <a href="#" >japanese</a>-->
            <!--                        </li>-->
            <!--                        <li class="divider"></li>-->
            <!--                        <li>-->
            <!--                            <a href="#">chinese</a>-->
            <!--                        </li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <table class="table table-hover profile_table table-bordered">-->
            <!--                <tbody>-->
            <!--                <tr>-->
            <!--                    <td>Language Preference:</td>-->
            <!--                    <td>-->
            <!--                        <select name="languagePreference">-->
            <!--                                <option  th:if="${account.languagePreference} eq 'english'" selected="selected" value="english">english</option>-->
            <!--                                <option  th:if="${account.languagePreference} eq 'english'" value="japanese">japanese</option>-->
            <!--                                <option  th:if="${account.languagePreference} eq 'japanese'" value="english">english</option>-->
            <!--                                <option  th:if="${account.languagePreference} eq 'japanese'" selected="selected"  value="japanese">japanese</option>-->
            <!--                        </select>-->
            <!--                    </td>-->
            <!--                </tr>-->
            <!--                <tr>-->
            <!--                    <td>Favourite Category:</td>-->
            <!--                    <td>-->
            <!--                        <select name="favouriteCategoryId">-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'FISH'" selected="selected" value="FISH">FISH</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'FISH'" value="DOGS">DOGS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'FISH'" value="REPTILES">REPTILES</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'FISH'" value="CATS">CATS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'FISH'" value="BIRDS">BIRDS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'DOGS'" value="FISH">FISH</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'DOGS'" selected="selected" value="DOGS">DOGS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'DOGS'" value="REPTILES">REPTILES</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'DOGS'" value="CATS">CATS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'DOGS'" value="BIRDS">BIRDS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'REPTILES'" value="FISH">FISH</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'REPTILES'" value="DOGS">DOGS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'REPTILES'" selected="selected" value="REPTILES">REPTILES</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'REPTILES'" value="CATS">CATS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'REPTILES'" value="BIRDS">BIRDS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'CATS'" value="FISH">FISH</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'CATS'" value="DOGS">DOGS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'CATS'" value="REPTILES">REPTILES</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'CATS'" selected="selected" value="CATS">CATS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'CATS'" value="BIRDS">BIRDS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'BIRDS'" value="FISH">FISH</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'BIRDS'" value="DOGS">DOGS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'BIRDS'" value="REPTILES">REPTILES</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'BIRDS'" value="CATS">CATS</option>-->
            <!--                                <option th:if="${account.favouriteCategoryId} eq 'BIRDS'" selected="selected" value="BIRDS">BIRDS</option>-->
            <!--                        </select>-->
            <!--                    </td>-->
            <!--                </tr>-->
            <!--                <tr>-->
            <!--                    <td>Enable MyList</td>-->
            <!--                    <td>-->
            <!--                            <input th:if="${account.listOption}" name="listOption" value="true" type="checkbox" checked="checked">-->
            <!--                            <input th:if="${not account.listOption}" name="listOption" value="true" type="checkbox">-->
            <!--                    </td>-->
            <!--                </tr>-->
            <!--                <tr>-->
            <!--                    <td>Enable MyBanner</td>-->
            <!--                    <td>-->
            <!--                            <input th:if="${account.bannerOption}" name="bannerOption" value="true" type="checkbox" checked="checked">-->
            <!--                            <input th:if="${not account.bannerOption}" name="bannerOption" value="true" type="checkbox">-->
            <!--                    </td>-->
            <!--                </tr>-->

            <!--                </tbody>-->
            <!--            </table>-->
            <input id="editAccount" name="editAccount" value="Save Account Information" type="submit">
        </form>
        <br/>
        <button class="editAccount_a"><a  th:href="@{/order/listorders}">My Orders</a></button>

    </div>

</div>
</div>
<div th:replace="common/bottomnew">

</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>
<script src="../js/vsclick-min.js"></script>
<script>
    let drop2 = new VsClick({
        dom: 'drop2',
        timer: 3000,
        emoji: ['🐩', '🐇', '🐟', '🦉', '🐶', '🐼', '🐾'],
        spring: true
    })
</script>



<script src="../js/userInfo.js"></script>
</body>
</html>