<!doctype html>
<html class="no-js" lang="">
<script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<div th:replace="common/topnew">

</div>
<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-bg-two">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/catalog/view">Home</a></li>
                                <li class="breadcrumb-item active">HOT</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- shop-area -->
    <section class="shop--area pt-90 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12" align="left">
                    <div id="mainChart" style="width: 800px;height: 600px;float: left">
                    </div>
                    <div id="mainChart2" style="width: 500px;height: 500px;float: left">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop-area-end -->
    <script type="text/javascript" th:inline="javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('mainChart'));
        var myChart2 = echarts.init(document.getElementById('mainChart2'));
        var dataname = [[${namesjson}]];
        var datavalue = [[${valuejson}]];
        var datamap = [[${mapjson}]];

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'TOP 10'
            },
            tooltip: {},
            legend: {
                data: ['销售量']
            },
            xAxis: {
                data: JSON.parse(dataname)
            },
            yAxis: {},
            series: [{
                name: '销售量',
                type: 'bar',
                data: JSON.parse(datavalue),
                showBackground: true,
                backgroundStyle: {
                    color: 'rgba(180, 180, 180, 0.2)'
                }
            }]

        };
        var option2 = {
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center'
            },
            series: [
                {
                    name: 'Access From',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: 40,
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: JSON.parse(datamap)
                }
            ]
        };
        option2.series[0].data.push()
        // <!--    // 使用刚指定的配置项和数据显示图表。-->
        myChart.setOption(option);
        myChart2.setOption(option2);
    </script>
</main>
<!-- main-area-end -->


<div th:replace="common/bottomnew">

</div>
</body>
</html>
