<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/topnew">

</div>
        <!-- main-area -->
        <main>

            <!-- slider-area -->
            <section class="slider--area" data-background="../img/bg/slider_area_bg.jpg">
                <div class="container custom-container">
                        <div class="col-lg-12">
                            <div class="slider-active">
                                <div class="single-slider slider-bg content-right" data-background="../img/slider/slider_bg01.jpeg">
                                    <div class="slider-content" >
                                        <h5 class="sub-title" data-animation="fadeInUp" data-delay=".2s">top deal !</h5>
                                        <h2 class="title" data-animation="fadeInUp" data-delay=".4s">GOOD ANIMALS</h2>
                                        <a href="/catalog/view" class="btn" data-animation="fadeInUp" data-delay=".8s">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- category-area -->
                <div class="container custom-container">
                    <div class="slider-category-wrap">
                        <div class="row category-active">
                            <div class="col-lg-2.5">
                                <div class="category-item active">
                                    <a href="/catalog/viewCategory?categoryId=FISH" class="category-link"></a>
                                    <div class="category-thumb">
                                        <img src="../images/fish1.gif" alt="">
                                    </div>
                                    <div class="category-content">
                                        <h6 class="title">FISH</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2.5">
                                <div class="category-item">
                                    <a href="/catalog/viewCategory?categoryId=DOGS" class="category-link"></a>
                                    <div class="category-thumb">
                                        <img src="../images/dog1.gif" alt="">
                                    </div>
                                    <div class="category-content">
                                        <h6 class="title">DOGS</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2.5">
                                <div class="category-item">
                                    <a href="/catalog/viewCategory?categoryId=CATS" class="category-link"></a>
                                    <div class="category-thumb">
                                        <img src="../images/cat1.gif" alt="">
                                    </div>
                                    <div class="category-content">
                                        <h6 class="title">CATS</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2.5">
                                <div class="category-item">
                                    <a href="/catalog/viewCategory?categoryId=REPTILES" class="category-link"></a>
                                    <div class="category-thumb">
                                        <img src="../images/snake1.gif" alt="">
                                    </div>
                                    <div class="category-content">
                                        <h6 class="title">REPTILES</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="category-item">
                                    <a href="/catalog/viewCategory?categoryId=BIRDS" class="category-link"></a>
                                    <div class="category-thumb">
                                        <img src="../images/bird1.gif" alt="">
                                    </div>
                                    <div class="category-content">
                                        <h6 class="title">BIRDS</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- category-area-end -->

            </section>
            <!-- slider-area-end -->


        </main>
        <!-- main-area-end -->
<div th:replace="common/bottomnew">

</div>
    </body>
</html>
