<!doctype html>
<html class="no-js" lang="">
<div th:replace="common/topnew">

</div>
<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-bg-two">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/catalog/view">Home</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/cart/viewCart}">Cart</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- checkout-area -->
    <div class="checkout-area pt-90 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="checkout-progress-wrap">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!--                                步骤条-->
                        <div class="checkout-progress-step">
                            <ul>
                                <li class="active">
                                    <div class="icon"><i class="fas fa-check"></i></div>
                                    <span>Shipping</span>
                                </li>
                                <li>
                                    <div class="icon">2</div>
                                    <span>Confirm</span>
                                </li>
                                <li>
                                    <div class="icon">3</div>
                                    <span>Pay</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="shop-cart-total order-summary-wrap">
                                <h3 class="title">Order</h3>
                                <h3 class="title"  th:text="${#dates.format(session.order.orderDate, 'yyyy/MM/dd hh:mm:ss')}"></h3>
                                <h3 class="title">Billing Address</h3>
                                <div class="shop-cart-widget">
                                    <form action="#">
                                        <ul>
                                            <li class="cart-total-amount"><span>First name:</span> <span class="amount"  th:text="${session.order.billToFirstName}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>Last name:</span> <span class="amount"  th:text="${session.order.billToLastName}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>Address 1:</span> <span class="amount"  th:text="${session.order.billAddress1}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>Address 2:</span> <span class="amount" th:text="${session.order.billAddress2}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>City:</span> <span class="amount" th:text="${session.order.billCity}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>State:</span> <span class="amount"  th:text="${session.order.billState}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>Zip:</span> <span class="amount"  th:text="${session.order.billZip}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>Country:</span> <span class="amount" th:text="${session.order.billCountry}">$ 151.00</span></li>
                                        </ul>
                                    </form>
                                </div>
                                <h3 class="title">Shipping Address</h3>
                                <div class="shop-cart-widget">
                                    <form action="#">
                                        <ul>
                                            <li class="cart-total-amount"><span>First name:</span> <span class="amount"  th:text="${session.order.shipToFirstName}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>Last name:</span> <span class="amount" th:text="${session.order.shipToLastName}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>Address 1:</span> <span class="amount"  th:text="${session.order.shipAddress1}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>Address 2:</span> <span class="amount" th:text="${session.order.shipAddress2}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>City:</span> <span class="amount" th:text="${session.order.shipCity}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>State:</span> <span class="amount"  th:text="${session.order.shipState}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>Zip:</span> <span class="amount"  th:text="${session.order.shipZip}">$ 151.00</span></li>
                                            <li class="cart-total-amount"><span>Country:</span> <span class="amount" th:text="${session.order.shipCountry}">$ 151.00</span></li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="shop-cart-total order-summary-wrap">
                                <h3 class="title">OrderItems</h3>
                                <h3 class="title"  th:text="${#dates.format(session.order.orderDate, 'yyyy/MM/dd hh:mm:ss')}"></h3>
                                <div th:each="cartItem:${session.cart.cartItems}" class="os-products-item">
                                    <div class="thumb">
                                        <a th:href="@{'/catalog/viewItem?itemId='+${cartItem.item.itemId}}" th:utext="${cartItem.item.product.description}">
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a th:href="@{'/catalog/viewItem?itemId='+${cartItem.item.itemId}}" th:text="${cartItem.item.itemId}">ncle Bens Vanla</a></h6>
                                        <span class="price" th:text="'$'+${cartItem.item.listPrice}">$3.50</span>
                                    </div>
                                    <div class="remove" th:text="'x'+${cartItem.quantity}">x</div>
                                </div>
                                <div class="shop-cart-widget">
                                    <form action="#">
                                        <ul>
                                            <li class="cart-total-amount"><span>Total Price</span> <span class="amount"  th:text="'$'+${session.cart.subTotal}">$ 151.00</span></li>
                                        </ul>
                                        <a th:href="@{/order/paypage}" class="btn">Confirm</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- checkout-area-end -->

</main>
<!-- main-area-end -->
<div th:replace="common/bottomnew">

</div>


</body>
</html>
